<a href="https://colab.research.google.com/github/AtiqahAbdBashid/AIMLpython/blob/main/AI_ML_PythonProgramming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INTRODUCTION
*   Introduction Of Python
*   Introduction Of Google Colab
*   Comments in Python
*   print() function
*   Variables
*   Data types
*   Index slicing
*   Using quotes as escape character
*   String concatenation
*   Type casting
*   Taking an user input / input() function
*   Operators

In [ ]:
# Comment in Python. It is to provide meaningful information about the code. The # symbol is used to comment a line

In [ ]:
print("Hello World ðŸ˜‡")
print("Nexpert Academy")
print(10+5)
print(10<5)

Hello World ðŸ˜‡
Nexpert Academy
15
False

In [ ]:
# in order to get the complete print in module builtins:
# help (functionName)
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [ ]:
# sep parameter of print()
# by default sep parameter is used to add space between values

print('Nexperts','Academy')
print('Python','Is','Fun','To','Learn')

# when you want a seperator to be changed to a different value or character, add/define a sep value
print('My','Name','Is','Nurul Atiqah', sep="-->")
print('My','Name','Is','Nurul Atiqah', sep="ðŸ¥³")

Nexperts Academy
Python Is Fun To Learn
My-->Name-->Is-->Nurul Atiqah
MyðŸ¥³NameðŸ¥³IsðŸ¥³Nurul Atiqah

In [ ]:
# end parameter of print()
# by default it will add \n at the end of the value

print('Python')        #print('Python',end="n\")
print('Programming')
print('Nexpert',end='\t\t')
print('Academy')

Python
Programming
Nexpert		Academy

In [ ]:
# variable in python
# a variable is a container for storing the information

name = 'Atiqah'
print(name)

salary = 7000
print(salary)

Atiqah
7000

In [ ]:
# Rules for defining a variable

# Rule 1: a variable cannot start with a mumber
#123 = 10
a123 = 10
print(a123)

# Rule 2: a variable cannot have space, use _ instead
#first name = "Atiqah"
first_name = "Atiqah" #space is replaced by an underscore _
print(first_name)

# Rule 3: variables is case sensitive
COURSE = 'Python'
#print(course)
print(COURSE)

# Rule 4: avoid using reserved keywords as variable names
# eg: print, if else, for, while, class

#class = 'Batch 3'
#print(class)

class_name = 'Batch 3'
print(class_name)

10
Atiqah
Python
Batch 3

In [ ]:
# Data Type
# data type defines what kind of a value a variable can hold

# PYTHON IS A DYNAMICALLY TYPED PROGRAMMING LANGUAGE
#   a.) we don't need to define the data type before declaring a variable
#   b.) we can re-assign diff diff data type to a same variable

In [ ]:
# int
# integer is a data type used to store whole number
# it can hold a negative and a positive number

age = 18
print(age)

# type(varname) : used to determine the data type of a variable
print(type(age))

18
<class 'int'>

In [ ]:
# float
# it's a data type used to store a decimal number

percentage = 79.81
print(percentage,type(percentage))

# string
# it's a data type used to store textual data
# in python string can be defined using quotes ' '   " "

course = "Python"
print(course , type(course))

# bool
# boolean is a special data type used to store either True or False value

isLoggedIn = False
print(type(isLoggedIn))

79.81 <class 'float'>
Python <class 'str'>
<class 'bool'>

In [ ]:
# Strings
# - Indexing and Slicing
# - Raw Strings
# - Character Escape
# - Strings In Triple quotes
# - String Concatenation
# - String Formatting

In [ ]:
# Strings
# used to store textual data
# string is a collection of characters
# in python string can be defined using ' '  or " "

str1 = "Python"
str2 = 'Programming'

print(type(str1) , type(str2))

<class 'str'> <class 'str'>

In [ ]:
# string is a collection of characters

course = "Python"
print(course)

#  P    y     t     h      o     n
#  0    1     2     3      4     5

# python interpreter allot index numbers
# to each and every character

# index numbers always starts with a ZERO

print(course[3])
print(course[1])

Python
h
y

In [ ]:
# Indexing
# indexing allows us to retrieve only one single value from a Sequence
# indexing is denoted by using []

course = "Python"
print(course)

#  P    y     t     h      o     n
#  0    1     2     3      4     5     [positive / forward indexing]   always starts with a ZERO
#  -6   -5    -4    -3     -2    -1    [negative / backward indexing]  always starts with a -1

print(course[2])
print(course[0])
print(course[-2])

Python
t
P
o

In [ ]:
# Slicing
# slicing allows us to retrieve portion / sub-portion from a Sequence
# slicing is denoted by using []

# syntax
# varname[startIndex:stopIndex]
# startIndex : index number from where the slicing Begins    INCLUSIVE
# stopIndex :  index number where the slicing Ends           EXCLUSIVE

# PYTHON WILL NEVER PRINT THE VALUE OF STOPINDEX , why ? coz it's EXCLUSIVE

course = "PythonProgramming"

#  P    y     t     h      o     n    P   r    o    g    r   a   m   m    i    n   g
#  0    1     2     3      4     5    6   7    8    9    10  11  12  13   14   15  16
#  -17  -16   -15   -14   -13   -12  -11 -10   -9   -8   -7  -6  -5  -4   -3   -2  -1

print(course)
print(course[6:13])

# gram
# onPro
# PythonPro

print(course[9:13])
print(course[4:9])
print(course[0:9])

# in slicing if stopIndex is missing  , the slicing will goes through till the last character
print(course[6:])

# in slicing if startIndex is missing  , then slicing will begin from index number Zero
print(course[:6])

print(course[:])

# varname[startIndex:stopIndex:stepCount/interval]
print(course[6:16:3])
print(course[6:16:5])
print(course[6:16:2]) # Programmin   Pormi

PythonProgramming
Program
gram
onPro
PythonPro
Programming
Python
PythonProgramming
Pgmn
Pa
Pormi

In [ ]:
#  P    y     t     h      o     n    P   r    o    g    r   a   m   m    i    n   g
#  -17  -16   -15   -14   -13   -12  -11 -10   -9   -8   -7  -6  -5  -4   -3   -2  -1

# KEY RULE OF SLICING
# SLICING GOES FROM LEFT TO RIGHT

print(course[-10:-5])
print(course[-17:-8])

print(course[-11:-4])

rogra
PythonPro
Program

In [ ]:
# in slicing [::-1] it will print the  sequence in a reverse order
course = "PythonProgramming"
print(course)
print(course[::-1])  # -1 backward

PythonProgramming
gnimmargorPnohtyP

In [ ]:
# Raw Strings
print('Creating A File')
print("C:\newFolder\test\abc.txt")  # \n newLine  \t  tabSpace    \a ?

print(r"C:\newFolder\test\abc.txt") # r --> raw  raw plain text

Creating A File
C:
ewFolder	estbc.txt
C:\newFolder\test\abc.txt

In [ ]:
# Character Escape Sequence

# if you wanted to use single quotes
# inside another single quotes use \ before that single quotes

print('I didn\'t do that')

# if you wanted to use double quotes
# inside another double quotes use \ before that double quotes

print("Welcome To \"Nexperts\" Academy")

I didn't do that
Welcome To "Nexperts" Academy

In [ ]:
# Strings can be defined using triple quotes
print('Temperature Details\n\n\tKuala Lumpur   :  27 Degree\n\tNew Delhi      :  17 Degree')

Temperature Details

	Kuala Lumpur   :  27 Degree
	New Delhi      :  17 Degree

In [ ]:
print('''Temprature Details

         Kuala Lumpur   :  27 Degree
         New Delhi      :  17 Degree
''')

Temprature Details

         Kuala Lumpur   :  27 Degree
         New Delhi      :  17 Degree

In [ ]:
# String Concatenation

name = "John"
course = "Python"
fees = 3000

# in python we have string concatenation operator +
# + operator requires LHS and RHS value to be of type STRING

print(name+' is enrolled for '+course+' course and the fees is '+str(fees)+'RM.')

print(name,'is enrolled for',course,'course and the fees is',fees,'RM.')

# STRING FORMATTING
# write f in front of your message or result
# define variables in curly braces {}

print(f"{name} is enrolled for {course} and the fees is {fees}RM.")

John is enrolled for Python course and the fees is 3000RM.
John is enrolled for Python course and the fees is 3000 RM.
John is enrolled for Python and the fees is 3000RM.

In [ ]:
# String formatting exercise

name = "John"
qty = 2
item = "T-shirt"
price = 399

# John wants to purchase 2 T-shirt worth RM399 each.

# print(using + )
print(name+' wants to purchase '+str(qty)+item+' worth RM'+str(price)+ ' each.')

# print(using ,)
b = 45.03
print(name,'wants to purchase',qty,item,'worth RM',price,'each.')

# print(string formatting)
print(f"{name} wants to purchase {qty}{item} worth RM{price} each.")

John wants to purchase 2T-shirt worth RM399 each.
John wants to purchase 2 T-shirt worth RM 399 each.
John wants to purchase 2T-shirt worth RM399 each.

In [ ]:
# Type Casting
# a process of converting one data type to another

# a) automatic type conversion -  IMPLICIT
# lower data type will be converted to higher data type automatically

# int to float
a = 10
b = 45.03
result = a + b

print(result)   # result will be in float

# b) manual type conversion -  EXPLICIT
# performed by the programmer/developer

# float to int
a = 10
b = 45.03
result = a + int(b) # 10 + 45

print(result)   # result will be in int


# we have a floatVar which needs to be converted into intVar
#  int(floatvar)      int(23.33) --> 23

# we have an intVar which needs to be converted into floatVar
#  float(intVar)     float(10)  --> 10.0

# we have a intVar which needs to be converted into strVar
#  str(intVar)         str(24)   --> '24'

# we have a floatVar which needs to be converted into strVar
#  str(floatVar)         str(24.334)   --> '24.334'


# converting bool into int and float
choice = True
print(int(choice))    # 1
print(float(choice))  # 1.0

choice = False
print(int(choice))    # 0
print(float(choice))  # 0.0

name = "89.21"        # str
print(float(name))    # str --> float

55.03
55
1
1.0
0
0.0
89.21

In [1]:
# Taking a User Input

# input()
# is a built-in function used to take input from the user
# input(prompt/message)

name = input("Enter your name : ")
print("Welcome User", name)

Enter your name : Iqa
Welcome User Iqa

In [2]:
print("Enter Your City")
city = input()
print("Your City is",city)

Enter Your City
Taiping
Your City is Taiping

In [ ]:
# input() function will get the value in a form of STRING

val1 = input('Enter The First Value : ')      # '20'
val2 = input('Enter The Second Value : ')     # '26'
res = val1 + val2                             # res = '20'+'26'
print(f"After Addition {val1} + {val2} Result Will Be {res}")

Enter The First Value : 20
Enter The Second Value : 26
After Addition 20 + 26 Result Will Be 2026

In [ ]:
val1 = int(input('Enter The First Value : '))       # 20
val2 = int(input('Enter The Second Value : '))      # 26
res = val1 + val2                                   # res = 20+26
print(f"After Addition {val1} + {val2} Result Will Be {res}")

Enter The First Value : 20
Enter The Second Value : 26
After Addition 20 + 26 Result Will Be 46

In [ ]:
# BMI Exercise
print("This is the BMI calculator.")
name = input("Enter your name: ")
weight_kg = float(input("Enter your weight in kg: "))
height_cm = float(input("Enter your height in cm: "))

height_m = height_cm/100

BMI = weight_kg/(height_m * height_m)

print(f"Hi {name}, your BMI is {BMI}.")

In [ ]:
# Operators
# Operators are used to perform operations on Variables

# a) Arithmetic Operators
# these operators are used to perform mathematical operations on varialbles
# +, -, *, /, //, %, **

In [3]:
print(10 + 5)
print(10 - 5)
print(10 * 5)   # multiplication oerator
print(10 / 5)   # division operator, returns the value in float
print(10 // 5)  # floor division operator, returns value in int
print(10 % 3)   # modulus used to give remainder
print(2 ** 8)   # 2 raise to the power of 8   ** Exponent

15
5
50
2.0
2
1
256

In [ ]:
# b) Assignment Operator
# used to assign a value to a variable

a = 90      # a as 90  or  a is 90
print(a)

90

In [ ]:
# c) Comparison Operators
# <, >, ==, !=, <=, >=
# used to return boolean value  [True / False]

print(10<5)
print(10>5)
print(98==98)
print(100!=1000)
print(100!=100)

age = 18
print(age>=18)  # age should be equal to 18 or age should be greater than 18

False
True
True
True
False
True

In [4]:
# d) Logical Operators
#  works with multiple conditions
#  and,  or,  not
#  used to return boolean value  [True / False]

# AND
# and requires more than one condition
# and will return TRUE when both or all the conditions are TRUE

print(100==100 and 200==200 and 300==300)
#       True          True        True

print(100==100 and 200==2000)
#       True          False


# OR
# or requires more than one condition
# or will return TRUE when both or all the conditions are TRUE
# or will also returns True if atleast any condition is TRUE
# or will return FALSE when both or all the conditions are FALSE

print(100==100 or 200==200 or 300==300)
#       True          True        True

print(100==100 or 200==2000)
#       True          False

print(100==1000 or 200==2000)
#       False          False

True
False
True
True
False

In [ ]:
# not
# used to reverse the result

print(not(100==1000 and 200==200))

True

In [5]:
# e) Membership Operators
# in, not in

# in
# used to return True
# if the specified value exists in a Sequence

print("P" in "Python")
print("o" in "Python")
print("John" in ["John","Smith","Alex"])
print("x" in "Python")
print("p" in "Python")



# not in

print("x" not in "Python")

# hey interpreter I think that this x does not exist in Python
# yes you are Right

print("t" not in "Python")
# hey interpreter I think that this t does not exist in Python
# no you are wrong

True
True
True
False
False
True
False

# DECISION MAKING
Conditional Statements
*   If statement
*   If else statement
*   If elif else statement

In [ ]:
# Decision Making
# Conditional Statements / Working With Conditions
# is the ability of a program to execute the block of code, only when the condition is True
# if, if else, if elif else

In [ ]:
# If Statement
# the condition will be checked first (line by line), and only execute the code

In [ ]:
import time #function for delay

num = int(input("Please enter a number: "))

if num%2 == 0:
  print("Checking the number...")
  time.sleep(2) #add 2 seconds delay
  print("Number is even")

else:
  print("Checking the number...")
  time.sleep(2) #add 2 seconds delay
  print("Number is odd")

Please enter a number: 15
Checking the number...
Number is odd

In [ ]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))

if num1 > num2 and num1 > num3:
  print(f"{num1} is the largest number.")

if num2 > num1 and num2 > num3:
  print(f"{num2} is the largest number.")

if num3 > num2 and num3 > num1:
  print(f"{num3} is the largest number.")

Enter the first number: 14
Enter the second number: 55
Enter the third number: 67
67 is the largest number.

In [ ]:
# num1 = int(input("Enter the first number: "))
# num2 = int(input("Enter the second number: "))
# num3 = int(input("Enter the third number: "))
# num4 = int(input("Enter the fourth number: "))
# num5 = int(input("Enter the fifth number: "))

num1 = 19
num2 = 45
num3 = 27
num4 = 141
num5 = 67

largest = 0

if num1 > largest:
  largest = num1

if num2 > largest:
  largest = num2

if num3 > largest:
  largest = num3

if num4 > largest:
  largest = num4

if num5 > largest:
  largest = num5

print(f"Largest number is: {largest}")

Largest number is: 141

In [ ]:
# BMI Exercise
print("This is the BMI calculator.")
name = input("Enter your name: ")
weight_kg = float(input("Enter your weight in kg: "))
height_cm = float(input("Enter your height in cm: "))

height_m = height_cm/100

BMI = weight_kg/(height_m ** 2)
#print(height_m)

print(f"Hi {name}, your BMI is {BMI}.")

This is the BMI calculator.
Enter your name: iqa
Enter your weight in kg: 65
Enter your height in cm: 160
1.6
Hi iqa, your BMI is 25.390624999999996.

In [ ]:
# If else clause
# the program only execute when the if condition is met, and will execute the else when not met

In [ ]:
# if else
# only two conditions. If true do if, and not true do else
age = int(input("Enter your age: "))

if age >= 18:
    print("Welcome User")
    print("Game is loading....")
    print("Please Wait")
else:
    print("Age Restrictions.")
    print("Age Should Be Above Or Equal To 18")

Enter your age: 67
Welcome User
Game is loading....
Please Wait

In [ ]:
num = int(input("Enter Any Number : "))

if num%2 == 0:
    print("Even Number")

else:
    print("Odd Number")

Enter Any Number : 5
Odd Number

In [ ]:
# One Liner if else
# ternary operator

# if_condition_is_true  if  condition  else value_if_condition_is_false

num = int(input("Enter Any Number : "))
result = "Even Number" if num%2 == 0 else "Odd Number"

print(result)

Enter Any Number : 55
Odd Number

In [ ]:
age = int(input("Enter your age: "))
display = "Eligible For License" if age>=18 else "Not Eligible For A License"

print(display)

Enter your age: 56
Eligible For License

In [ ]:
# If Elif Else clause
# working with multiple condition
# it will execute only one block at a time

num = int(input("Enter Any Number : "))
if num < 0:
    print("Negative Number")

elif num == 0:
    print("Number is Zero")

else:
    print("Positive Number")

In [ ]:
# Grade Allotment
print("This is the grading allotment calculator.")
marks = int(input("Enter your mark: "))

if marks >= 85 and marks <= 100:
  print("Grade A")

elif marks >= 75 and marks < 84:
  print("Grade B")

elif marks >= 60 and marks < 74:
  print("Grade C")

elif marks >= 40 and marks < 59:
  print("Grade D")

elif marks >= 0 and marks < 39:
  print("Fail")

else:
  print("Invalid score")

This is the grading allotment calculator.
Enter your mark: 65
Grade C

In [ ]:
# Chained comparison
# helps us to define a range
# Lower limit <= variable <= upper limit

In [ ]:
# Grade Allotment
print("This is the grading allotment calculator.")
marks = int(input("Enter your mark: "))

if 85 <= marks <= 100:
  print("Grade A")

elif 75 <= marks <= 84:
  print("Grade B")

elif 60 <= marks <= 74:
  print("Grade C")

elif 40 <= marks <= 59:
  print("Grade D")

elif 0 <= marks <= 39:
  print("Fail")

else:
  print("Invalid score")

This is the grading allotment calculator.
Enter your mark: -11
Invalid score

In [ ]:
# BMI Exercise
import time

print("This is the BMI calculator.")
name = input("Enter your name: ")
weight_kg = float(input("Enter your weight in kg: "))
height_cm = float(input("Enter your height in cm: "))

height_m = height_cm/100
BMI = weight_kg/(height_m ** 2)
#print(BMI)
BMI = round(BMI, 1)
#print(BMI)

print("\nCalculating your BMI...")
time.sleep(2)

if BMI < 18.5:
  print(f"Hi {name}, your BMI is {BMI}. You are UNDERWEIGHT. ðŸ˜Ÿ")
  print("Please gain some weight and eat more.")

elif 18.5 <= BMI <= 24.9:
  print(f"Hi {name}, your BMI is {BMI}. You are NORMAL weight ðŸ˜‰")
  print("Perfect. Keep it that way!")

elif 25 <= BMI <= 29.9:
  print(f"Hi {name}, your BMI is {BMI}. You are OVERWEIGHT ðŸ˜³")
  print("Please lose some weight and eat less.")

else:
  print(f"Hi {name}, your BMI is {BMI}. You are OBESE ðŸ˜±")
  print("Please take care of your health. Eat less, and exercise more.")

This is the BMI calculator.
Enter your name: Iqa
Enter your weight in kg: 67
Enter your height in cm: 160

Calculating your BMI...
Hi Iqa, your BMI is 26.2. You are OVERWEIGHT ðŸ˜³
Please lose some weight and eat less.

# LOOPS
*   For loop
*   range()
*   Nested for loop
*   While loop
*   Avoiding infinite loop
*   Break / Continue

In [ ]:
# Loops
# Loops in Python are used to repeat a block of code multiple times without writing the same code again and again.
# Loops help us repeat tasks efficiently and smartly.

# A loop is a control structure that repeats a block of code until a condition is met.
# for and while loop

In [ ]:
# for loop (to iterate over a sequence, collection of data values)
# Eg 1 : timer
import time

for x in range(10):
  print(x)
  time.sleep(1)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# for loop
# Eg 2 : countdown
import time

# Start at 10, stop before 0, decrease by 1
for i in range(10, 0, -1): #start (10), stop (0), step (-1)
    print(i)
    time.sleep(1) # Pauses for 1 second

In [ ]:
# for loop
# Eg 3: spelling iteration
import time

for x in "Python":
  print(x, end = " ")     # end = " " output print horizontally instead of vertically
  time.sleep(1)

P y t h o n

In [ ]:
# for loop
# Eg 4: arithmetic operations

product_price = 10, 13, 15, 16, 18, 21, 23, 24, 25, 27, 30, 32, 34, 35, 40
tax = 2.05

for i in product_price:
    print(i + tax)

In [ ]:
# for loop
# print only the even numbers

import time

numbers = 0, 13, 15, 16, 18, 21, 23, 24, 25, 27, 30, 32, 34, 35, 40, 43, 45, 47, 48, 50, 51, 52, 53

# A list to store even numbers
even_numbers = []

for i in numbers:

    if i % 2 == 0:
        even_numbers.append(i) # Add even number to the list


# Print all even numbers in one sentence
print(f"The even numbers in the sequence are: {even_numbers}")
time.sleep(1)

The even numbers in the sequence are: [0, 16, 18, 24, 30, 32, 34, 40, 48, 50, 52]

In [ ]:
# print only those names where the first letter startswith 'A' or 'a'

emp_names = 'Alex', 'John', 'Smith', 'amir', 'Tina', 'mathews', 'Anders', 'Juliet', 'Allan', 'ashley'

for name in emp_names:
    if name.startswith(('A','a')):
        print(name)

Alex
amir
Anders
Allan
ashley

In [ ]:
# range()
# it's a built-in function and it is used to generate a sequence of integers

# a) range(x)
# starting from 0 to x-1

print(list(range(11)))

# b) range(x,y)
# starting from x to y-1

print(list(range(1,11)))

# c) range(x,y,z)
# starting from x to y-1 based on stepCount

print(list(range(1,11,3)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 7, 10]

In [ ]:
# Exercise 1
# print only even numbers from the range of 0 to 20
print(list(range(0,21,2)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# combine for and range()
# timer

import time

for number in range(1,11,):
  print(number)
  time.sleep(1)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Exercise 2
# take an int input from the user
# num = 13

for x in range(1,11):
  answer = 13 * x
  print(f"13 x {x} = {answer}")

print()

num = 13
for i in range(1,11):
  print(f"{num} x {i} = {num * i}")

13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130

13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130

In [ ]:
# Nested for loop
# outer loop waits until the inner loop finish the execution

for colour in ['red','blue','green']:   # outer loop
  for type in ['car','bike','bus']:     # inner loop
    for condition in ['new','used']:     # inner inner loop
      print(colour,type,condition)

red car new
red car used
red bike new
red bike used
red bus new
red bus used
blue car new
blue car used
blue bike new
blue bike used
blue bus new
blue bus used
green car new
green car used
green bike new
green bike used
green bus new
green bus used

In [ ]:
# While loop
# used to repeat a block of code several times until a certain condition is met

# The syntax for while loop:
# initialization [optional]
# while condition/expression:
# code to be executed
# increment / decrement [optional]

In [ ]:
# timer using while loop

import time
i = 1

while i<=10:
  print(i)
  time.sleep(1)
  i += 1    # i = i + 1

In [ ]:
# Exercise 1
# print mathematical table of a number 13 using while loop
print("This is the multiplication table generator.")
num = int(input("Select a number to generate a multiplication table: "))
i = 1

while i <= 12:
  print(f"{num} x {i} = {num*i}")
  i += 1      # i = i + 1

This is the multiplication table generator.
Select a number to generate a multiplication table: 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110
10 x 12 = 120

In [ ]:
# Use while loop when the number of iterations is unknown

# Exercise 2
# make a palindrome number calculator
# 1) a user input a number, and divide it by 10, then get it's remainder
# 2) save that remainder by multiplying it with 10
# 3) update the number by dividing the number by 10
# 4) repeat these steps until the number becomes 0

num = int(input("Enter a number: "))
ori = num
sum = 0

while num != 0:
  rem = num%10
  sum = sum*10 + rem
  num = num//10   #returns in int
# num = num/10, returns number in float

if ori == sum:
  print("Palindrome Number")

else:
  print("Not a Palindrome")

# num = 121
# 1st iteration 121!=0      2nd iteration 12!=0(t)        3rd iteration 1!=0
# rem = 1                   rem = 2                       rem = 1
# sum = 1                   sum = 12                      sum = 121
# num = 12                  num = 1                       num = 0

Enter a number: 13431
Palindrome Number

In [ ]:
# if LHS value is lesser than RHS
# % operator always returns LHS value

print(1%10)
print(999%9999)
print(45%47)

1
999
45

In [ ]:
# Avoiding infinite loop
# when condition is always True, loop never stops

In [ ]:
# Break and Continue statement
# break and continue should be defined inside decision making

# Break statement
# it is used to TERMINATE the execution of a loop

for i in range (1,11):
  if i == 5:
    break     # when condition is met, it ignores the iteration and exit
              # when i = 5, the loop stops
  print(i)

print()

# Continue statement
# it is used to SKIP the current execution of a loop

for i in range (1,11):
  if i == 5 or i == 9:
    continue
  print(i)

1
2
3
4

1
2
3
4
6
7
8
10

In [ ]:
# while loop self-project
# BMI Calculator
import time

print("This is the BMI calculator.")

while True:
  name = input("Enter your name: ")
  weight_kg = float(input("Enter your weight in kg: "))
  height_cm = float(input("Enter your height in cm: "))

  height_m = height_cm / 100
  BMI = round(weight_kg / (height_m ** 2), 1)

  print("\nCalculating your BMI...")
  time.sleep(2)

  if BMI < 18.5:
    print(f"Hi {name}, your BMI is {BMI}. You are UNDERWEIGHT. ðŸ˜Ÿ")
  elif BMI <= 24.9:
    print(f"Hi {name}, your BMI is {BMI}. You are NORMAL weight ðŸ˜‰")
  elif BMI <= 29.9:
    print(f"Hi {name}, your BMI is {BMI}. You are OVERWEIGHT ðŸ˜³")
  else:
    print(f"Hi {name}, your BMI is {BMI}. You are OBESE ðŸ˜±")

  decision = input("\nDo you wish to continue? Y/N: ").lower()

  if decision == "n":
    break
  elif decision != "y":
    print("Invalid input")

This is the BMI calculator.
Enter your name: iqa
Enter your weight in kg: 67
Enter your height in cm: 175

Calculating your BMI...
Hi iqa, your BMI is 21.9. You are NORMAL weight ðŸ˜‰

Do you wish to continue? Y/N: n

# DATA STRUCTURES
*   List item
*   List item

In [ ]:
# Data Structures In Python
# A data structure is a way of organizing and storing data so it can be used efficiently.

# Why We Need Them
# They organize data in a structured way.
# They help store data efficiently.
# They make it easy to access and use data.
# They allow data to be managed easily, such as adding, removing, or searching.


# LIST TUPLE SET DICTIONARY

# LIST IN PYTHON
# LIST IS A DATA STRUCTURE USED TO STORE COLLECTION OF DATA VALUES
# LIST IS AN ITERABLE IN PYTHON
# LIST IS AN ORDERED COLLECTION OF DATA VALUES
# LIST IS MUTABLE IN NATURE [remove , add , delete , modify , update]
# IN LIST WE CAN STORE MIXED DATA TYPE
# IN PYTHON LIST CAN BE DEFINED BY USING [] OR list()
# IN LIST WE CAN STORE DUPLICATE ELEMENTS

# CREATE A LIST

list1 = [10,20,30,40,50,60]
print(type(list1))

list2 = list(['a','b','c'])
print(type(list2))

# Empty List
list3 = []
print(type(list3))

<class 'list'>
<class 'list'>
<class 'list'>

In [ ]:
# Indexing And Slicing
list1 = [10,20,30,40,50,60]

# 10  20  30   40   50    60
# 0    1   2   3    4     5
# -6   -5  -4  -3   -2    -1

print(list1)
print(list1[3])
print(list1[-1])
print(list1[1:5])
print(list1[1:5:2])
print(list1[::-1])

[10, 20, 30, 40, 50, 60]
40
60
[20, 30, 40, 50]
[20, 40]
[60, 50, 40, 30, 20, 10]

In [ ]:
# using for loop
list1 = [10,20,30,40,50,60]
for i in list1:
  print(i)

10
20
30
40
50
60

In [ ]:
# Using for loop print list elements along with their Index Number

# len(iterable/sequence)
# used to return the number of elements in a Sequence

list1 = [10,20,30,40,50,60]
print(len(list1))

6

In [ ]:
for i in range(len(list1)):  # range(6)  0 1 2 3 4 5
  print(f'Index {i} : {list1[i]}')   # Index 0 : list1[0]

Index 0 : 10
Index 1 : 20
Index 2 : 30
Index 3 : 40
Index 4 : 50
Index 5 : 60

In [ ]:
# using index() method
# index() used to return the index number of specified value
list1 = [10,20,30,40,50,60]
print(list1.index(30))

2

In [ ]:
for i in list1:
  print(f'Index {list1.index(i)} : {i}')

Index 0 : 10
Index 1 : 20
Index 2 : 30
Index 3 : 40
Index 4 : 50
Index 5 : 60

In [ ]:
# enumerate()
# it's a built-in function used to return element with index numbers

for i in enumerate(list1):
  print(i)

(0, 10)
(1, 20)
(2, 30)
(3, 40)
(4, 50)
(5, 60)

In [ ]:
for i,e in enumerate(list1):  # i --> will iterate IndexNo.   e --> will iterate Elements
  print(f'Index {i} : {e}')

Index 0 : 10
Index 1 : 20
Index 2 : 30
Index 3 : 40
Index 4 : 50
Index 5 : 60

In [ ]:
stInfo = [123 , "John" , 32 , "Python" , 78.21 , True , True , True]
print(stInfo)

[123, 'John', 32, 'Python', 78.21, True, True, True]

In [ ]:
# LIST BUILT-IN METHODS
mylist = [10,20,30,40,50,60,70,80,90,100]
print('Original List :',mylist)

# a.) append(value)
# used to add a new element at the END of the List

mylist.append(110)
print('After Append :',mylist)

# b.) insert(indexNumber,value)
# used to add a new element at any Specific position in List

mylist.insert(4,400)
print('After Insert :',mylist)

# c.) pop(indexNumber)
# used to delete an element from the specified index number

mylist.pop(4)
print('After Pop :',mylist)

# d.) pop()
# used to delete the Last element from List

mylist.pop()
print('After Pop :',mylist)

# e.) remove(value)
# used to remove the specified element from a List

mylist.remove(80)
print('After Remove:',mylist)

# if we try to delete an element which does not exist it will give an Error
# list = [10,20,30,40,10,10,10,50,60,70]
# list.remove(10)
# it will delete the First Occurence of the Specified value

# f.) reverse()
# used to print the list in a reverse order

mylist.reverse()
print('After Reverse:',mylist)

# g.) clear()
# used to remove all elements from the List

mylist.clear()
print('After Clear:',mylist)

# h.) del keyword

del mylist

Original List : [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
After Append : [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110]
After Insert : [10, 20, 30, 40, 400, 50, 60, 70, 80, 90, 100, 110]
After Pop : [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110]
After Pop : [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
After Remove: [10, 20, 30, 40, 50, 60, 70, 90, 100]
After Reverse: [100, 90, 70, 60, 50, 40, 30, 20, 10]
After Clear: []

In [ ]:
# i.) sort()

price = [56,20,12,90,87,45,32,18,10,37,29]
price.sort() # by default it will in ascending order
print(price)

[10, 12, 18, 20, 29, 32, 37, 45, 56, 87, 90]

In [ ]:
price = [56,20,12,90,87,45,32,18,10,37,29]
price.sort(reverse=True) # descending order
print(price)

[90, 87, 56, 45, 37, 32, 29, 20, 18, 12, 10]

In [ ]:
list1 = [10,20,10,30,40,10,10,50,60,10]
while 10 in list1:
  list1.remove(10)
print(list1)

[20, 30, 40, 50, 60]

In [ ]:
# Task 1
# list1 = [10,20,10,30,40,10,10,50,60,10]
# keep the second 10 only
# list1 = [20,10,30,40,50,60]

# Task 2
# list1 = [10,20,10,30,40,10,10,50,60,10]
# just delete second 10 only
# list1 = [10,20,30,40,10,10,50,60,10]

In [ ]:
# TUPLE IN PYTHON
# TUPLE IS A DATA STRUCTURE USED TO STORE COLLECTION OF DATA VALUES
# TUPLE IS AN ITERABLE IN PYTHON
# TUPLE IS AN ORDERED COLLECTION OF DATA VALUES
# TUPLE IS IMMUTABLE IN NATURE
# IN TUPLE WE CAN STORE MIXED DATA TYPE
# IN PYTHON TUPLE CAN BE DEFINED BY USING () OR tuple()
# IN TUPLE WE CAN STORE DUPLICATE ELEMENTS

# CREATE A TUPLE

tupl1 = (10,20,30,40,50,60)
print(type(tupl1))

tupl2 = tuple((10,20,30,40,50,60))
print(type(tupl2))

tupl3 = ()
print(type(tupl3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
myvar = 10 , "John" , 90.21 , True , [10,20,30]
print(type(myvar))

<class 'tuple'>

In [ ]:
# How to create a tuple having one element

tupl1 = (10,)
print(type(tupl1))
print(tupl1[0])

<class 'tuple'>
10

In [ ]:
# Tuple Is Immutable

tupl = (10,20,30,40,50)
print(tupl)

tupl[2] = 300
print(tupl)

(10, 20, 30, 40, 50)

TypeError: 'tuple' object does not support item assignment

In [ ]:
tupl = (10,20,30,40,10,10,50,60,10,10,70,80)
# len()
print('No. Of Elements :',len(tupl))
# count(value) --> it will count the occurence of specified value
print('No. Of Times 10 Appears :',tupl.count(10))
# index(value) --> it will get the index number of specified value
print('Index No. of 70 :',tupl.index(70))

No. Of Elements : 12
No. Of Times 10 Appears : 5
Index No. of 70 : 10

In [ ]:
tupl = (10,20,30,40,10,10,50,60,10,10,70,80)
# sorted() function works on any iterable
# returns a new list of sorted elements
print(sorted(tupl))
print(sorted(tupl,reverse=True))

[10, 10, 10, 10, 10, 20, 30, 40, 50, 60, 70, 80]
[80, 70, 60, 50, 40, 30, 20, 10, 10, 10, 10, 10]

In [ ]:
# SET IN PYTHON
# SET IS A DATA STRUCTURE USED TO STORE COLLECTION OF DATA VALUES
# SET IS AN ITERABLE IN PYTHON
# SET IS AN UN-ORDERED COLLECTION OF DATA VALUES
# IN PYTHON SET CAN BE DEFINED BY USING {} OR set()
# IN SET WE CANNOT STORE DUPLICATE ELEMENTS

# CREATE A SET

set1 = {10,20,30,40}
print(type(set1))

set2 = set({10,20,30,40})
print(type(set2))

set3 = set()
print(type(set3))

<class 'set'>
<class 'set'>
<class 'set'>

In [ ]:
list1 = [10,20,30,40,50,60]
print(list1)

t1 = (10,20,30,40,50,60)
print(t1)

set1 = {10,20,30,40,50,60} # set is an unordered collection of data elements
print(set1)

[10, 20, 30, 40, 50, 60]
(10, 20, 30, 40, 50, 60)
{50, 20, 40, 10, 60, 30}

In [ ]:
set1 = {10,20,30,40,50,60,40,10,10,30,60}
print(set1)

{50, 20, 40, 10, 60, 30}

In [ ]:
mylist = [10,20,10,30,30,40,50,60,40,10,10,30,60]
# How Many No. Of Unique Elements We Have In A List
print(set(mylist))
print(len(set(mylist)))

{40, 10, 50, 20, 60, 30}
6

In [ ]:
mylist = [10,20,10,30,30,40,50,60,40,10,10,30,60]
empty_list = []
for i in mylist:
  if i not in empty_list:   # if 30 does not exist in [10,20,30] F
    empty_list.append(i)    # [10,20,30]
print(len(empty_list))

6

In [ ]:
# install ordered-set
# An OrderedSet is a mutable data structure that is a hybrid of a list and a set.
# It remembers the order of its entries, and every entry has an index number
# that can be looked up.
# https://pypi.org/project/ordered-set/
# pip --> python installer package

!pip install ordered-set

Collecting ordered-set
  Downloading ordered_set-4.1.0-py3-none-any.whl.metadata (5.3 kB)
Downloading ordered_set-4.1.0-py3-none-any.whl (7.6 kB)
Installing collected packages: ordered-set
Successfully installed ordered-set-4.1.0

In [7]:
from ordered_set import OrderedSet

# Using Set
set1 = {10,20,30,40,50,60,40,10,10,30,60}
print(set1)

# Using OrderedSet

set1 = OrderedSet([10,20,30,40,50,60,40,10,10,30,60])
print(set1)

SyntaxError: invalid syntax (1779209428.py, line 1)

In [ ]:
str1 = 'abracadabra'

print("Using Set",set(str1))
print("Using OrderedSet",OrderedSet(str1))

Using Set {'b', 'r', 'd', 'c', 'a'}
Using OrderedSet OrderedSet(['a', 'b', 'r', 'c', 'd'])

In [ ]:
# DICTIONARY
# USED TO STORE INFORMATION IN A KEY:VALUE PAIR FORMAT
# DICTIONARY IS DEFINED BY USING {} or dict()
# DICTIONARY IS MUTABLE IN NATURE
# IN DICTIONARY KEY HAS TO BE UNIQUE , BUT VALUES CAN BE DUPLICATED

emp_info = {"id":123 , "name":"john" , "dept":"IT" , "age":32 ,
            "sal":8900 , "email":"j@gmail.com" , "city":"klang"}

print(type(emp_info))
print(emp_info)
print(emp_info["name"])
print(emp_info["email"])
print(emp_info["sal"])
# get(keyName)
print(emp_info.get("age"))

<class 'dict'>
{'id': 123, 'name': 'john', 'dept': 'IT', 'age': 32, 'sal': 8900, 'email': 'j@gmail.com', 'city': 'klang'}
john
j@gmail.com
8900
32

In [ ]:
# add a new key:value pair
# dictionary add this new key:value pair at the END

emp_info["country"] = "Malaysia"
print(emp_info)

{'id': 123, 'name': 'john', 'dept': 'IT', 'age': 32, 'sal': 8900, 'email': 'j@gmail.com', 'city': 'klang', 'country': 'Malaysia'}

In [ ]:
# updating the value
emp_info["age"] = 34
print(emp_info)

{'id': 123, 'name': 'john', 'dept': 'IT', 'age': 34, 'sal': 8900, 'email': 'j@gmail.com', 'city': 'klang', 'country': 'Malaysia'}

In [ ]:
# delete key:value pair
# pop(keyName)

emp_info.pop("country")
print(emp_info)

{'id': 123, 'name': 'john', 'dept': 'IT', 'age': 34, 'sal': 8900, 'email': 'j@gmail.com', 'city': 'klang'}

In [ ]:
# updating the key
emp_info["salary"] = emp_info.pop("sal") # first return the value and delete this key
print(emp_info)

{'id': 123, 'name': 'john', 'dept': 'IT', 'age': 34, 'email': 'j@gmail.com', 'city': 'klang', 'salary': 8900}

In [ ]:
mydict = {2:4 , 3:9 , 4:16 , 5.0:25}
print(mydict)

{2: 4, 3: 9, 4: 16, 5.0: 25}

In [ ]:
emp_details = {'id':[101,102,103] , 'name':['John','Alex','Smith'],
               'dept':['HR','IT','FN']}
print(emp_details)
print(emp_details['name'])
print(emp_details['name'][1])

{'id': [101, 102, 103], 'name': ['John', 'Alex', 'Smith'], 'dept': ['HR', 'IT', 'FN']}
['John', 'Alex', 'Smith']
Alex

In [ ]:
import pandas as pd
df = pd.DataFrame(emp_details)
df

    id   name dept
0  101   John   HR
1  102   Alex   IT
2  103  Smith   FN

In [ ]:
emp_info = {"id":123 , "name":"john" , "dept":"IT" , "age":32 ,
            "sal":8900 , "email":"j@gmail.com" , "city":"klang"}

# normal for loop will print only Keys
for i in emp_info:
  print(i)

id
name
dept
age
sal
email
city

In [ ]:
# to print values
for i in emp_info.values():
  print(i)

123
john
IT
32
8900
j@gmail.com
klang

In [ ]:
# to print keys and values together
for k,v in emp_info.items():
  print(f'{k} : {v}')

id : 123
name : john
dept : IT
age : 32
sal : 8900
email : j@gmail.com
city : klang

In [ ]:
# Task
# Taking subjects marks from a faculty

# ask how many marks faculty wish to insert    3
# insert marks1
# insert marks2
# insert marks3
# save these marks --> List

# inserted marks are
# marks 1 :
# marks 2 :
# marks 3 :

In [ ]:
howManyMarks = int(input('Enter How Many Marks You Wish To Insert : '))
i = 1
marksList = []

while i <= howManyMarks:
  marks = int(input(f'Enter Marks {i} : '))
  marksList.append(marks)
  i += 1

print('\nInserted Marks Are : ')
for x in range(len(marksList)):
  print(f'Marks {x+1} : {marksList[x]}')

Enter How Many Marks You Wish To Insert : 2
Enter Marks 1 : 67
Enter Marks 2 : 89

Inserted Marks Are :
Marks 1 : 67
Marks 2 : 89